/* Common CSS */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Balsamiq Sans', cursive;
}

/* CSS for index.html */

.container-fluid {
    /*background-color: #FFCB05; */
    width: 100%;
    height: 100vh;
    background: #FFCB05 url("../images/background-mainpage.jpeg") center/cover;;
}
#animation-container{
   width: 100%;
   height: 100vh;
   display: flex;
   background-size: contain;
}
.random-coin{
    border-radius: 50%;
    margin: 5% auto;
    position: relative;
    background-color: white;
    
    position: relative;
}

#random-coin-1 {
    background: white url("../images/red-coin.png") center/cover;
    animation: move-in-steps 7s infinite;
}

#random-coin-2 {
    background: white url("../images/yellow-coin.png") center/cover;
    animation: move-in-steps 5s infinite;
}

#random-coin-3 {
    background: white url("../images/red-coin.png") center/cover;
    animation: move-in-steps 6s infinite;
}

#random-coin-4 {
    background: white url("../images/yellow-coin.png") center/cover;
    animation: move-in-steps 7s infinite;
}

#random-coin-5 {
    background: white url("../images/red-coin.png") center/cover;
    animation: move-in-steps 5s infinite;
}

#game-input-container{
    width: auto;
    height: auto;
    min-height: 40%;
    min-width: 40%;
    background-color: rgba(204, 0, 0, 0.7);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10%;
}

@keyframes move-in-steps {
  0% {
    top: -5%;
    
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
    top: 100%;
    transform: rotate(360deg);
  }
}

.main-button{
    background-color: #3D7DCA;
    color: white;
}

fieldset {
    margin:0;
    padding:0;
    border:solid;
}


/* CSS for connect-four.html */

#game-container{
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    border-radius: 0.5rem;
}

#game-controller{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#game-area{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.column {
    flex: 1 1;
    height: 100%;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}


.square-cell-game-board{
    flex: 1 1;
    background-color: blue;
    border: 0.1em black solid;
    border-radius: 5px;
}

.square-cell-entry{
    flex: 1 1;
    background-color: white;
}

.empty-coin{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: white;
    margin: 5% auto;
}

.red-coin{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin: 5% auto;
    border: 2px black solid;
    box-sizing: border-box;
    background: red url("../images/red-coin.png") center/cover;
}

.yellow-coin{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: yellow url("../images/yellow-coin.png") center/cover;
    margin: 5% auto;
    border: 2px black solid;
    box-sizing: border-box;
}


#music-button-container {
    background-color: skyblue;
    height: auto;
    width: auto;
    border: 2px solid black;
}

#music {
    
    background: url("/assets/images/001-drum.png");
    background-size: contain;
    width: 75px;
    height: 75px;
    margin: 10px;
    border: none;
}