/* Common CSS */
body {
    margin: 0;
    padding: 0;
}

/* CSS for index.html */

.container {
    background: url(/assets/images/pokemon-background.png) no-repeat auto;
    width: 100%;
    height: 100%;
}




/* CSS for connect-four.html */

#game-container{
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    border-radius: 0.5rem;
}

#game-controller{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#game-area{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.column {
    flex: 1 1;
    height: 100%;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}


.square-cell-game-board{
    flex: 1 1;
    background-color: blue;
    border: 0.1em black solid;
    border-radius: 5px;
}

.square-cell-entry{
    flex: 1 1;
    background-color: white;
}

.empty-coin{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: white;
    margin: 5% auto;
}

.red-coin{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: red;
    margin: 5% auto;
    border: 2px black solid;
    box-sizing: border-box;
}

.yellow-coin{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color:yellow;
    margin: 5% auto;
    border: 2px black solid;
    box-sizing: border-box;
}


#music-button-container {
    background-color: skyblue;
    height: auto;
    width: auto;
    border: 2px solid black;
}

#music {
    
    background: url("/assets/images/001-drum.png");
    background-size: contain;
    width: 75px;
    height: 75px;
    margin: 10px;
    border: none;
}